version: '3.8'

services:
  consul:
    image: consul:1.15
    ports:
      - "8500:8500"
    volumes:
      - consul-data:/consul/data
    networks:
      - microservices-net

  auth-service:
    build: ./auth-service
    ports:
      - "5001:5000"
    networks:
      - microservices-net
    depends_on:
      consul:
        condition: service_started

  catalog-service:
    build: ./catalog-service
    ports:
      - "5002:5000"
    networks:
      - microservices-net
    depends_on:
      consul:
        condition: service_started

  service-discovery:
    build: ./service-discovery
    ports:
      - "5004:5004"
    networks:
      - microservices-net
    depends_on:
      consul:
        condition: service_started

  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./api-gateway/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - microservices-net
    depends_on:
      auth-service:
        condition: service_started
      catalog-service:
        condition: service_started
      service-discovery:
        condition: service_started

networks:
  microservices-net:
    driver: bridge

volumes:
  consul-data: